body{
    background-image: url('../img/page4/bg4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container1 {
    text-align: right;
    background: rgb(32, 32, 32, 0.5);
}

.container1 p {
    color: white;
    font-size: 50px;
}

.container2 {
    background-image: url('../img/page4/blackmirror.jpg');
    text-align: center;
}

.container2 p{
    color: white;
    font-size: 45px;
    padding: 15px;
    font-weight: bold;
    display: inline-block;
}

.container3 {
    text-align: left;
    background: rgb(48, 48, 48, 0.5);
}

.container3 p{
    color: red;
    font-size: 40px;
    padding-bottom: 15px;
}

.container4 {
    text-align: center;
    background:  rgb(56, 56, 56, 0.5);
}

.container4 p{
    color: white;
    font-size: 35px;
    padding: 15px;
    display: inline-block;
}

.container5 {
    text-align: right;
    background:  rgb(64, 64, 64, 0.5);
}

.container5 p{
    color: white;
    font-size: 30px;
    padding: 15px;
}

.container6 {
    text-align: center;
    background:  rgb(72, 72, 72, 0.5);
}

.container6 p{
    color: orange;
    font-size: 25px;
    padding: 15px;
}

#animate {
    position: absolute;
    top: 0px; 
    left: 0px; 
    transition: all 1s;
}
