body{
    background-image: url('../img/page1/bg1.png');
    background-repeat: no-repeat;
    background-position: contain;
    background-size: cover;
    overflow-x: hidden;
}

.container1 {
    text-align: center;
    background: rgb(32, 32, 32, 0.5);
}

.container1 p {
    color: white;
    font-size: 50px;
    padding: 15px;
    display: inline-block;
}

.container2 {
    text-align: center;
    background: rgb(40, 40, 40, 0.5);
}

.container2 p{
    color: white;
    font-size: 45px;
    padding: 15px;
    font-weight: bold;
}

.container3 {
    text-align: center;
    background: rgb(48, 48, 48, 0.5);
    background-image: url('../img/page1/giphy.gif');
}

.container3 p{
    color: red;
    font-size: 40px;
    padding-bottom: 15px;
}

.container4 {
    text-align: center;
    background:  rgb(56, 56, 56, 0.5);
}

.container4 p{
    color: white;
    font-size: 35px;
    padding: 15px;
}

.container5 {
    text-align: center;
    background:  rgb(64, 64, 64, 0.5);
}

.container5 p{
    color: white;
    font-size: 30px;
    padding: 15px;
}

.container6 {
    text-align: center;
    background:  rgb(72, 72, 72, 0.5);
}

.container6 p{
    color: orange;
    font-size: 25px;
    padding: 15px;
}

.container7 {
    text-align: center;
    background:  rgb(80, 80, 80, 0.5);
}

.container7 p{
    color: white;
    font-size: 20px;
    padding: 15px;
}

.animate {
    width: 200px;
    height: 170px;
    position: relative;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

  /* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   { left:0px; top:0px;}
    25%  { left:200px; top:0px;}
    50%  { left:200px; top:200px;}
    75%  { left:0px; top:200px;}
    100% { left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
    0%   { left:0px; top:0px;}
    25%  { left:200px; top:0px;}
    50%  { left:200px; top:200px;}
    75%  { left:0px; top:200px;}
    100% { left:0px; top:0px;}
}